//// MAGIC ////////////////////////////////////////////////////////////////////
month = 0
:root
    --m month
//// RESET ////////////////////////////////////////////////////////////////////
*
    margin 0
    padding 0
    box-sizing border-box
//// FUNCTIONS ////////////////////////////////////////////////////////////////
load-font(name, file, w=normal, st=normal)
    @font-face
        font-family name
        font-style st
        font-weight w
        src url("./fonts/" + file + ".woff2")
        font-display swap
satshade(target, shade-amt, sat-amt)
    return saturate(shade(target, shade-amt), sat-amt)
themer(c)
    return tint(c, 50%) satshade(c, 20%, 80%)
theme-gen(color-theme, n)
    .content{n}
        padding 16px
        background-color color-theme[0]
        text-align center
        border 3px solid color-theme[1]
        margin-bottom 16px
    .snippet{n}
        display flex
        flex-flow row
        gap 16px
        background-color color-theme[0]
        border 3px solid color-theme[1]
        margin-bottom 16px
        &__image
            flex 1
            padding 16px
            width 200px
            height 278px
        &__desc
            display flex
            flex-direction column
            justify-content center
            flex 3
            padding 16px
            background-color color-theme[0]
//// LOAD FONTS ///////////////////////////////////////////////////////////////
load-font("Minion Pro", "minion-pro")
load-font("Minion Pro", "minion-pro_bold", bold)
load-font("Perpetua", "perpetua")
load-font("Perpetua", "perpetua_bold", bold)
load-font("Perpetua", "perpetua_italic",, italic)
load-font("Perpetua", "perpetua_bold-italic", bold, italic)
//// FONT FUNCTIONS ///////////////////////////////////////////////////////////
minion(sz, c=black, w=normal)
    font sz "Minion Pro", serif
    color c
    font-weight w
    line-height sz
perpetua(sz, c=black, w=normal, st=normal, h=1.1)
    font sz "Perpetua", serif
    color c
    font-weight w
    font-style st
    line-height sz*h
//// COLOR ////////////////////////////////////////////////////////////////////
main        = #fff8e3
main-text   = #000000
link-text   = #1f53a6
palette     = #ff8a80 #f57c00 #fbc02d #d4e157 #6ab046 #80d8ff \
              #5db0e1 #8c9eff #b176e8 #e15dc9 #ea80fc #bdbdbd
theme-set   = (5 11) (9 10 0) (4) (3 4 9 8) (3 2 4) (2 6) \
              (6 0 11) (0) (1 2) (1 11) (1) (0 4)
selected    = theme-set[month]
prime       = palette[selected[0]]
issue       = prime == palette[0] || prime == palette[1] || prime == palette[2] || \
              prime == palette[3] || prime == palette[5] ? black : white
theme       = themer(prime)
for th, i in selected
    theme-gen(themer(palette[th]), i)
//// MAIN /////////////////////////////////////////////////////////////////////
:root
    --palette-length length(selected)
html
    scroll-behavior smooth
    scrollbar-width none
    -ms-overflow-style none
    &::-webkit-scrollbar
        display none
h1
    minion(68px, rgba(main-text, 0.8), bold)
    text-align center
h2
    minion(56px, rgba(main-text, 0.8), bold)
h3
    minion(40px, rgba(main-text, 0.8), bold)
h4
    minion(28px, rgba(main-text, 0.8), bold)
h5
    minion(30px, rgba(main-text, 0.8), bold)
    letter-spacing -1px
p
    perpetua(22px, main-text)
.year
    letter-spacing 6px
.sm
    perpetua(20px, main-text)
    line-height 27px
.space
    height 40px
.center
    text-align center
.comment
    perpetua(20px,  rgba(main-text, 0.7), bold, italic)
a
    perpetua(22px, link-text, bold)
.lcomment
    perpetua(20px,  rgba(link-text, 0.8), bold, italic)
.rpl
    margin-top 12px
    width 256px
.blast
    width 100px
.lh
    line-height 28.8px
.icon
    max-width 175px
    svg
        width 44px
        fill theme[1]
//// STRUCTURE ////////////////////////////////////////////////////////////////
body
    display flex
    flex-flow column
    margin 64px auto
    max-width 1070px
    min-width 1070px
.head
    display flex
    flex-flow row
    gap 16px
    background-color theme[0]
    border 3px solid theme[1]
    margin-bottom 16px
    &__logo
        display flex
        flex-direction column
        justify-content center
        align-items center
        flex 1
        padding 16px
    &__title
        display flex
        flex-direction column
        justify-content center
        align-items center
        flex 3
        padding 0 16px
    &__issue
        display flex
        flex-direction column
        justify-content center
        align-items center
        flex 1
        padding 16px
        background-color theme[1]
        h2
            margin-top 8px
        *
            transform scale(133%)
            color issue
.content > *
    margin-bottom 16px
.foot
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    &__left
        display flex
        flex-direction column
        justify-content center
        align-items center
    &__center
        display flex
        flex-direction column
        justify-content center
        text-align justify
        line-height 18px
    &__right
        display flex
        flex-direction column
        justify-content center
        align-items flex-end
        text-align right
        gap 16px
    &__links
        display flex
        flex-direction row
        justify-content center
        align-items center
        gap 32px
        padding 16px
.als
    align-self center
.day
    display inline-block
    font-weight bold
    width 140px